@import "./variables.less"; 

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: caption; // Uses the system defined font
    width: 100vw;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.st0{fill:#474538;}
.st1{fill:#4A9452;}
.st2{fill:#70AB52;}