.FirstSearchPage {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;

    .FirstSearchContent {

        display: flex;
        justify-content: flex-start;
        align-items: center; 

        .FirstSearchContainer {
            
            min-height: 100px;
            min-width: 100px;
            z-index: 1000;
            box-sizing: border-box;
            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            .SearchBar {

                padding-left: 50px;

                input {
                    width: 40rem;
                    
                }
            }
            
            .UmbrellaLogo {
                border-right: 1px solid white ;

                svg {
                    height: 5rem;
                    padding-right: 50px;
                }
            }


        }
    }


    .SearchBG {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        
        img {
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            filter: blur(5px);
            transform: scale(2);
        }
    }

    


}

